language: python
python:
  - "2.7"
install:
  - pip install -r travis/requirements.txt
  - pip install coveralls
script:
  - python manage.py test home
  - coverage run --source=home manage.py test home
after_success:
  - coveralls
  - wget http://static.monkop.com/setup/cli/monkop-cli.py
  - wget http://s3-us-west-2.amazonaws.com/upload.monkop.com/GoogleIO2015_3.3.2.apk -O apkFile.apk
  - python monkop-cli.py -k $monkopapikey -t 1 -a apkFile.apk