language: python
python:
  - "2.7"
install:
  - pip install -r travis/requirements.txt
  - pip install coveralls
script:
  - printenv
  - env
  - python manage.py test home
  - coverage run --source=home manage.py test home
  - chmod 777 gitApi.sh
  - ./gitApi.sh
after_success: coveralls 